body {
    background-color: rgb(233, 186, 31) !important;
}
.contain {
    height: 550px;
    width: 1000px;
    background-image:  linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) ,url(bgImg.jpg);
    background-repeat: no-repeat;
    margin: 45px auto 20px auto;
}

.calculator {
    height: 520px;
    width: 320px;
    background-color: white;
    margin: 0 auto;
    top: 15px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 16px 18px rgba(0, 0, 0, 0.2), 0 6px 20px 18px rgba(0, 0, 0, 0.19);
}

.result {
    height: 120px;
}

.keyboard {
    height: 400px;
}

.history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: black;

}

.output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    

}

.operator,.number,.empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-size: 15px;
    font-weight: bold;
    
}

.empty, .number {
        background-color: white;
}

.number, .operator {
    cursor: pointer;
}

.empty:focus, .operator:focus, .number:focus {
    outline: 0;
}

.operator:active, .number:active {
    font-size: 13px;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: rgb(37, 37, 196);
}

button:nth-child(8) {
    font-size: 20px;
    background-color: rgb(245, 241, 9);
}

button:nth-child(12) {
    font-size: 30px;
    background-color: rgb(230, 30, 73);
}

button:nth-child(16) {
    font-size: 20px;
    background-color: rgb(30, 186, 197);
}

button:nth-child(20) {
    font-size: 20px;
    background-color: rgb(22, 197, 46);
}